---
layout: default
title: Retete Prajituri
photos:
    image1: assets/photos/index/index1-640.jpg
    image2: assets/photos/index/index2-640.jpg
---

{% include jumbotron.html %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ page.title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>{% include lorem-ipsum.md %}</p>
            <p>{% include lorem-ipsum.md %}</p>
        </div>
    </div>
    <hr/>
</div>


<div id="posts" class="container">
    <div class="row">
        {% for post in site.posts %}
        <div class="column4">
            <div class="card">
                <img class="card-img-top" src="assets/photos/posts/{{ post.photos.cover }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <a href="{{ post.url }}" class="btn btn-primary">Vezi mai mult</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
